<h1>My List</h1>
<ul>
  <% for(i=0;i<mylist.length;i+=1){ %>
    <li><%= mylist[i] %></li>
  <% } %>
</ul>
<form method="POST" action="/">
  <input name="item" />
  <input type="submit" value="add" />
</form>
